/* NAVBAR */
.nav {
  width: 100vw;
  height: 45px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99999999999;
}

.nav .left-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.nav .left-nav h1 {
  color: rgb(182, 26, 39);
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.nav .left-nav:hover {
  cursor: pointer;
}


.nav .left-nav ul {
  display: flex;
  align-items: center;
}

.nav .left-nav ul li {
  color:white;
  list-style: none;
  margin-right: 35px;
}

.nav .left-nav ul li:hover{
  color: #A5000F;
  cursor: pointer;
}

.nav .right-nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav .right-nav .search{
  margin-right: 20px;
}

.nav .right-nav i{
  color:white;
  margin-right: 25px;
}

.nav .right-nav i:hover{
  color: #A5000F;
  cursor: pointer;
}

/* HOME */
.home-container .home{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-attachment: fixed;
}

.home-container h3{
  position: absolute;
  top:25%;
  font-size: 60px;
  line-height: 130px;
  margin-left: 50px;
}

.home-container h3 span{
  color: #A5000F;
  margin-left: 25%;
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
}

a{
  text-decoration: none;
}

/* PRODUCTS */
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 55px;
}

.product-card {
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  position: relative;
}
.product-card .product-name {
  color: rgb(63, 62, 62);
}

.product-card .product-img{
    width:200px;
    height:180px;
    object-fit: cover;
    border-radius:8px
}

.product-card .product-price{
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 5%;
  width: 60px;
  height: 60px;
}

.product-card .add-product{
  width: 150px;
  height: 30px;
  border:none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: #a81320;
}

.product-card:hover .add-product{
  background-color: #A5000F;
  color:white;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-card span{
  background:black;
  border-radius: 5px;padding:2px 5px;
  color: white;position: absolute;
  right: 30px;
  top: 170px;
}


.product-card .add-product i{
  margin-right: 10px;
}

.search{
  outline: none;
  border: none;
  width: 200px;
  padding: 5px;
}

.shopping-cart-container{
  padding: 55px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(10, 10, 10, 0.616), rgb(0, 0, 0)),
  url('./img/background.png'); 
  background-repeat: no-repeat;
  background-position: right;
  overflow-x: hidden;
  overflow-y: hidden;
}

.about-content{
  display: flex;
  flex-direction: column;
  width: 50vw;
  color : rgb(230, 230, 230);
  width: min(600px,80%);
  margin-top: 80px;
  margin-right: 400px;
  text-align: center;
  position: absolute;
}
.about-content h1{
  font-size:2.5em;
  color: #cf0023;
}

.about-content p{
  line-height: 1.5em;
  letter-spacing: 1.5px;
  word-spacing: 1px;

}
